/* Color palette */
:root {
  --bright-sky-blue: #00c3ff;
  --yellowy-green: #bdea3f;
  --bright-orange: #ff6a00;
  --cerise: #ee0979;
  --dark-indigo: #0a0d2e;
  --greyish-brown: #4a4a4a;
}

body {
  position: absolute;
  height: 100%;
  width: 100%;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


h1 {
  font-family: Lato;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  color: #0a0d2e;
  color: var(--dark-indigo);
  text-align:left;
}

h2 {
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.56;
}

a, a:active, a:hover {
  color:#ffffff;
  text-decoration:none;
}

.hidden { display:none;}


.logoDiv {
  margin-left:20%;
}

.logo {
  width: 165px;
  height: 165px;
  display: block;
  margin: auto;
}

.logoTitle {
  font-family: LiGothicMed;
  font-size: 72px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: #0a0d2e;
  color: var(--dark-indigo);
}
.usernameInput {
  border-radius:100px;
  width: 279px;
  height: 54px;
  border:0px;
  background-image:url("assets/usernameInputBackground.png");
  text-align:center;
  margin-top:40px;
}

.usersOnline {
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #0a0d2e;
  color: var(--dark-indigo);
  text-align:center;
}

.messages {
  height:85vh;
  overflow-y: scroll;
}

.chatInputContainer {
  position: fixed;
  width:100vw;
  height:10vh;
  position:absolute;
  display:flex;
  font-family: Lato;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  color: #0a0d2e;
  color: var(--dark-indigo);
  text-align:left;
  word-wrap: break-word
}

.sendButton {
  width:50px;
  height:50px;
  vertical-align:middle;
  left:90%;
  position:fixed;
  margin:auto;
}

.line {
  width: 100vw;
  height: 5px;
  border-style: solid;
  border-width: 5px;
  border-image-source: linear-gradient(to right, #00c3ff, #bdea3f);
  border-image-source: linear-gradient(to right, var(--bright-sky-blue), var(--yellowy-green));
  border-image-slice: 1;
}

.message {
  float:left;
  clear: both;
  display: table;
}

.message .messageBody {
  width: 300px;
  border-radius: 25px;
  background-color: rgba(189, 234, 63, 0.2);
  font-family: LiGothicMed;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #4a4a4a;
  color: var(--greyish-brown);
  word-wrap: break-word;
  float:left;
  clear: both;
  display: table;
}

.fromMe {
  float:right;
}

.fromMe .messageBody {
  background-color: rgba(0, 195, 255, 0.2);
}

.username {
  font-family: LiGothicMed;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #0a0d2e;
  color: var(--dark-indigo);
}

#chatInputForm {
  width:100%;
  height:100%;
}

#chatInputBox {
  width:100%;
  height:100%;
}

#nicknameText {
  color: #0a0d2e;
  color: var(--dark-indigo);
}

#loginRow {
  margin-top:50vh;
  transform:translate(0,-50%);
}

#continueText {
  width: 275px;
  height: 50px;
  border-radius: 100px;
  background: linear-gradient(to left, #ff6a00, #ee0979), linear-gradient(to left, #bdea3f, #00c3ff);
  background: linear-gradient(to left, var(--bright-orange), var(--cerise)), linear-gradient(to left, var(--yellowy-green), var(--bright-sky-blue));
  color:#ffffff;
  text-align:center;
  text-decoration:none;
  line-height: 50px;
}

/* iPads (portait) and tablets */
@media only screen and (max-width : 768px) {
  .logoDiv {
    margin:0;
  }

  h1, #continueText {
    margin:auto;
    text-align:center;
  }

  .usernameInput {
    margin-top:30px;
  }

  form {
    margin:auto;
    text-align:center;
  }

}
